module.exports = {
    PORT: 8080,
    UPDATE_INTERVAL_SECS: 60,
    SLACK: {
        CHANNEL: 'some channel',
        WEBHOOK_URL: ''
    },
    BITBUCKET_CREDENTIALS: {
        LOGIN: 'login',
        PASSWORD: 'password'
    },
    REPOSITORIES: [
        {
            owner: '',
            name: ''
        }
    ]
};
    