module.exports = {
    PORT: 8080,
    SLACK_API_TOKEN: '',
    BITBUCKET_CREDENTIALS: {
        LOGIN: 'login',
        PASSWORD: 'password'
    },
    REPOSITORIES: [
        {
            owner: '',
            name: ''
        }
    ]
};
    